{% extends 'blog/base.html' %}

{% block title %}
	<title>Classnotes:userbin-{{user.username}}</title>
{% endblock %}

{% block content %}

	<h1>You can restore notes you deleted</h1>
	<table>
		{% for post in posts %}
			<tr>
				<td>
					<a href="{% url 'post_detail' pk=post.pk %}">{{post.title}}</a>
				</td>
				<td>
					{{ post.created_date }}
				</td>
				<td>
					{{ post.stars }}
				</td>
				<td class="btn btn-default">
					<a href="{% url 'post_unpublish' pk=post.pk %}">un-publish</a>
				</td>
				<td class="btn btn-default">
					<a href="{% url 'post_publish' pk=post.pk %}">publish</a>
				</td>
			</tr>
		{% endfor %}
	</table>


{% endblock %}