{% extends 'blog/base.html' %}

{% block title %}
	<title>Classnotes:user-{{user.username}}</title>
{% endblock %}

{% block content %}

	<div>
		<h2>{{user.username}}</h2>
		{% if request.user.is_authenticated and user != request.user %}
			<h4 class="btn btn-default">
				{% if following.isfollowing %}
					<a href="{% url 'user_unfollow' username=user.username %}">unfollow</a>
				{% else %}
					<a href="{% url 'user_follow' username=user.username %}">follow</a>
				{% endif %}
			</h4>
		{% endif %}
		<p>{{user.first_name}} {{user.last_name}}<p>
	</div>

	<div>
		<h3> Published Notes: </h3>
		<table>
			{% for post in posts %}
				{% if post.ispublished and not post.isdeleted %}
					<tr>
						<td>
							<a href="{% url 'post_detail' pk=post.pk %}">{{post.title}}</a>
						</td>
						<td>
							{{ post.stars }}
						</td>
						{% if user == request.user %}
							<td class="btn btn-default">
								<a href="{% url 'post_unpublish' pk=post.pk %}">draft</a>
							</td>
							<td class="btn btn-default">
								<a href="{% url 'post_delete' pk=post.pk %}">delete</a>
							</td>
						{% endif %}
					</tr>
				{% endif %}
			{% endfor %}
		</table>
	</div>

	</br>

	{% if user == request.user %}

		<div>
			<h3> Drafts: </h3>
			<table>
				{% for post in posts %}
					{% if not post.ispublished and not post.isdeleted %}
						<tr>
							<td>
								<a href="{% url 'post_detail' pk=post.pk %}">{{post.title}}</a>
							</td>
							<td>
								{{ post.stars }}
							</td>
							<td class="btn btn-default">
								<a href="{% url 'post_publish' pk=post.pk %}">publish</a>
							</td>
							<td class="btn btn-default">
								<a href="{% url 'post_delete' pk=post.pk %}">delete</a>
							</td>
						</tr>
					{% endif %}
				{% endfor %}
			</table>
		</div>

		</br>

		<div class="btn btn-default" >
			<a href="{% url 'user_bin' username=user.username %}">Deleted Notes</a>
		</div>

	{% endif %}

{% endblock %}

{% block deleted %}
{% endblock %}






