{% extends 'blog/base.html' %}

{% block title %}
	{% if not posts %}
		<title><Classnotes/></title>
	{% else %}
		{% for post in posts %}
			<title>Classnotes:{{post.title}}</title>
		{% endfor %}
	{% endif %}
{% endblock %}

{% block content %}

	{% if not post %}
	<h1 align='center'> This page does not exist </h1>
	{% endif %}

	<div>
		<h2>{{ post.title }}</h2>

		{% if postinfo %}
			{% if post.author != request.user %}
				{% if postinfo.isfavorite is True %}
					<a class="btn btn-default" href="{% url 'starred_post' pk=post.pk %}"><span class="glyphicon glyphicon-minus"></span></a>
				
				{% else %}
					<a class="btn btn-default" href="{% url 'starred_post' pk=post.pk %}"><span class="glyphicon glyphicon-plus"></span></a>
				{% endif %}
			{% endif %}
		{% endif %}

		<a href="{% url 'user_detail' username=post.author.username %}">{{ post.author.username }}</a>
		<p>{{ post.created_date }}</p>
		
		<p>{{ post.text }}</p>
		{% if user.is_authenticated and request.user == post.author %}
			<a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
		{% endif %}
	</div>

	<div>
		<h3>Comments:</h3>
		<table>
			{% for comment in comments %}
				<tr>
					<td>
						{{ comment.author.username }}
					</td>
					<td>
						{{ comment.text }}
					</td>
				</tr>
			{% endfor %}
		</table>
		{% if request.user.is_authenticated and post.ispublished %}
			<form method="POST" class="post-form">{% csrf_token %}
	        	{{ form.as_p }}
	        	<button type="submit" class="save btn btn-default">comment</button>
	    	</form>
	    {% endif %}
	</div>
	
	

{% endblock %}